<section id="add">
  <form action="/" method="post">
    <input type="text" name="movie_id" placeholder="Movie id&hellip;">
    <input type="text" name="movieingonrating" placeholder="Movieing On-rating&hellip;">
    <input type="text" name="imdbrating" placeholder="IMDB-rating&hellip;">
    <input type="submit" value="Save movie!">
  </form>
</section>

<% @movies.each do |movie| %>
<hr />
  <article>
    <h1 class="extrapad"><em><%= movie.title %></em> (<%= movie.year %>)</h3>
    <img src="<%= movie.poster_url %>">
    <div class="col-300"><strong>Genres</strong>
    <ul><% movie.genre.each do |genre| %>
      <li><%= genre[:name] %></li>
    <% end %></ul></div>
    <div class="col-300"><strong>Actors</strong>
    <ul><% movie.actor.each do |actor| %>
      <li><%= actor[:name] %><img src="<%= actor[:profile_url]%>"></li>
    <% end %></ul></div>
    <div class="col-300"><strong>Directors</strong>
    <ul><% movie.director.each do |director| %>
      <li><%= director[:name] %></li>
    <% end %></ul>
    <strong>Writers</strong>
    <ul><% movie.writer.each do |writer| %>
      <li><%= writer[:name] %></li>
    <% end %></ul>
    <strong>Producers</strong>
    <ul><% movie.producer.each do |producer| %>
      <li><%= producer[:name] %></li>
    <% end %></ul>
    <strong>Production companies</strong>
    <ul><% movie.productioncompanies.each do |company| %>
      <li><%= company.name %></li>
    <% end %></ul></div>
    <div class="col-300"><strong>Rating</strong>
    <ul>
      <li>Movieing On: <%= movie.movieingonrating%>.</li>
      <li>IMDb: <%= movie.imdbrating%>.</li>
    </ul>
    <a href="/<%= movie[:id] %>">[edit]</a>
  </div>
    <div class="clear"></div>
  </article>
<% end %>
