<div class="row">
  <div class="col-sm-3">
    <img src="<%= @movie.poster_url %>" class="img-thumbnail">
    <h4><div class="text-center"><em><%= @movie.title %></em> <small> (<%= @movie.year %>)</small></div></h4>
    <small>
      <ul>
        <li><a href="<%= @movie.imdburl %>">IMDb</a></li>
        <li><a href="http://www.themoviedb.org/movie/<%= @movie.moviedb_id %>">TheMovieDB</a></li>
        <li><a href="http://www.csicon.net/mo<%= @movie.episode %>">CSICON</a></li>
      </ul>
    </small>
  </div>

  <div class="col-sm-9">
    <p><em><%= @movie.title %></em> is a <%= @movie.genres.map{ |m| m.name.downcase }.join(' ') %> movie from <a href="/year/<%= @movie.year %>"><%= @movie.year %></a>. The Movieing On crew rated it <%= @movie.movieingonrating %> of 10. The production companies involved were: <%= @movie.productioncompanies.map{ |m| m.name }.join(', ') %>.</p>
    <table class="table table-hover">
      <% @actors.each do |actor| %>
      <tr>
        <td><a href="/person/<%= actor.moviedb_id %>"><%= actor.name %></a> <small>[<%= actor[:job] %>]</small></td>
      </tr>
    <% end %></table>
  </div>
</div>