<div class="row">
  <div class="col-sm-3">
    <% if @person.profile_url %>
      <img src="<%= @person.profile_url %>" class="img-thumbnail">
    <% end %>
    <div class="text-center"><h4><%= @person.name %></div></h4>
  </div>

  <div class="col-sm-9">
    <table class="table table-hover">
      <% @movies.each do |movie| %>
      <tr>
        <td>Episode <%= movie.episode %>: <a href="/movie/<%= movie.moviedb_id %>"><em><%= movie.title %></em></a> (<%= movie.year %>) <small>[<%= movie[:job] %>]</small></td>
      </tr>
    <% end %></table>
  </div>
</div>
